body {
  padding: 0;
  margin: 0;
  background-color: rgba(242, 242, 242, 1);
}

/* Global */
.root {
  height: 100%;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}


/* Header **/

header {
  color: rgba(0, 48, 5, 0.92);
  padding-top: 25px;
  min-height: 70px;
}

header a {
  color: rgba(0, 48, 5, 0.92);
  text-decoration: none;
  font-size: 22px;
  font-family: "Vollkorn";
}

header li {
  float: left;
  display: inline;
  /* padding: 0 20px 0 20px; */
}

header #branding {
  float: left;
}

header #branding h3 {
  margin: 0;
  font-size: 35px;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current {
  color: rgba(0, 48, 5, 0.92);
  font-weight: bold;
}

header a:hover {
  color: rgba(0, 48, 5, 0.92);
  /* font-weight: bold; */
}

.collection2 {
  font-family: 'Vollkorn';
  text-align: center;
  left: 550px;
  height:90px;
  margin-top: 60px;
}

.icon2 {
  position: absolute;
  margin-bottom: 90px;
}

.phone {
  position: absolute;
  width: 216px;
  left: 280px;
  font-size: 40px;
}

.phoneicon {
  position: absolute;
  width: 216px;
  left: 280px;
  top: 55px;
  font-family: 'Vollkorn';
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.mail {
  position: absolute;
  width: 190px;
  left: 645px;
  font-size: 40px;
}

.mailicon {
  position: absolute;
  width: 190px;
  left: 645px;
  top: 55px;
  font-family: 'Vollkorn';
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.instagram {
  position: absolute;
  width: 265px;
  left: 990px;
  font-size: 40px;
}

.instagramicon {
  position: absolute;
  width: 265px;
  left: 990px;
  top: 55px;
  font-family: 'Vollkorn';
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.iconss {
  margin-bottom: 100px;
}




.footer {
  padding: 20px;
  color: whitesmoke;
  background-color: #000000;
  position: absolute;
width: 1500px;
height: 320px;
}

.footerlogo{
  position: absolute;
width: 442px;
height: 180px;
margin-top: 40px;
left: 100px;
font-family: "Yuji Boku";
}

.magazalar{
  position: absolute;
  font-family: "Vollkorn";
  left: 700px;
  top: 65px;
}

.contact {
  position: absolute;
width: 424px;
height: 199px;
left: 1030px;
top: 65px;
}



hr {
  position: absolute;
  width: 1480px;
  top: 250px;
}


.designby {
  margin-left: 610px;
  margin-top: 260px; 
  font-family: "Vollkorn";
  font-size: 15px;
}